<div>

  <mat-form-field>
    <input matInput [matDatepicker]="Deadline" placeholder="Deadline" (dateChange)="saveDeadlineChange($event)" [value]="deadline.value">
    <mat-datepicker-toggle matSuffix [for]="Deadline"></mat-datepicker-toggle>
    <mat-datepicker #Deadline></mat-datepicker>
  </mat-form-field>

  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="department">
      <mat-header-cell *matHeaderCellDef> Department </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.department}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="classname">
      <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.className}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="major">
      <mat-header-cell *matHeaderCellDef> Major </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.major}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="students">
      <mat-header-cell *matHeaderCellDef> Students </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.students}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<a mat-button href='/download' target="_blank">Download All</a>
<button mat-button color="warn" (click)="archieveAndReset()">Archieve and Reset</button>
